In [2]:
import pandas as pd

In [3]:
a = [4,5,6,7,8,9,4,0,6,8]

In [4]:
pd.Series(a)

0    4
1    5
2    6
3    7
4    8
5    9
6    4
7    0
8    6
9    8
dtype: int64

In [5]:
pd.Series(a,[1,2,3,4,5,6,7,8,9,10])

1     4
2     5
3     6
4     7
5     8
6     9
7     4
8     0
9     6
10    8
dtype: int64

In [6]:
dictionary ={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [7]:
pd.Series(dictionary)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
print("sujit"+str(1));

sujit1

In [9]:
dates_d = pd.date_range('20300201',periods=6,freq='D');
print(dates_d)

DatetimeIndex(['2030-02-01', '2030-02-02', '2030-02-03', '2030-02-04',
               '2030-02-05', '2030-02-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
dates_m = pd.date_range('20300202',periods = 12, freq='M')
print(dates_m)

DatetimeIndex(['2030-02-28', '2030-03-31', '2030-04-30', '2030-05-31',
               '2030-06-30', '2030-07-31', '2030-08-31', '2030-09-30',
               '2030-10-31', '2030-11-30', '2030-12-31', '2031-01-31'],
              dtype='datetime64[ns]', freq='M')

In [11]:
import numpy as np

In [12]:
rand  = np.random.randn(4,6)

In [13]:
rand

array([[-0.2630267 ,  0.08703089, -0.70817077,  0.95240175,  0.96809975,
        -0.11383096],
       [ 0.37764141, -0.39626449, -0.301059  , -0.92922793, -0.00788286,
        -0.10429384],
       [ 1.54225167, -0.82867273,  0.986346  ,  0.18792009, -0.8388866 ,
         1.92560172],
       [ 1.55896125, -1.55041025,  0.68205671, -0.46989596,  1.36893558,
        -0.59311491]])

In [14]:
rand = rand*10

In [15]:
rand_i = np.random.randint(low = 10,high = 30,size = (34,43))

In [16]:
df = pd.DataFrame(rand_i , index=list('qwertyuioplkjhgfdsazxcvbnmwryfwsfv'))

In [17]:
df

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
q,23,27,15,17,17,13,26,19,28,24,...,17,23,22,11,27,11,15,12,27,19
w,13,20,17,26,25,13,20,29,22,20,...,16,27,13,23,21,14,22,17,28,15
e,19,19,12,28,16,21,29,11,17,10,...,25,11,11,15,10,15,24,29,13,15
r,18,13,22,26,19,12,25,23,10,23,...,14,22,13,13,29,20,22,21,24,26
t,16,20,13,22,11,10,19,16,23,18,...,29,11,25,11,22,24,12,19,28,28
y,10,22,26,14,24,23,13,12,10,29,...,12,20,11,12,27,14,23,11,29,12
u,25,23,11,26,13,23,11,14,28,17,...,10,17,14,14,20,12,24,23,13,26
i,25,13,20,29,17,18,13,22,13,21,...,15,25,14,21,17,26,14,14,24,22
o,11,10,23,14,22,10,17,16,24,16,...,27,12,17,15,22,13,15,29,15,21
p,13,23,28,25,22,23,26,26,20,22,...,16,16,28,19,19,28,22,17,14,13
l,21,11,24,28,18,27,24,10,28,12,...,19,16,11,15,25,14,19,19,17,26
k,21,23,19,22,10,22,25,12,13,17,...,14,26,21,11,29,24,10,15,28,15
j,14,12,11,18,25,25,27,24,26,21,...,14,19,10,20,10,19,14,18,12,24
h,22,12,11,24,20,11,25,22,15,17,...,17,25,17,12,16,21,19,29,29,22
g,27,15,12,20,16,29,16,23,26,27,...,22,17,21,18,10,28,21,10,16,25
f,14,13,18,16,17,10,13,15,27,21,...,15,13,22,18,23,27,17,11,22,14
d,12,10,24,18,22,21,24,13,25,14,...,28,17,25,26,12,11,29,28,15,21
s,22,27,28,23,25,11,12,26,28,28,...,14,27,13,20,18,20,23,10,24,12
a,13,16,12,11,11,16,28,15,10,25,...,12,22,28,17,29,16,17,11,13,28
z,16,17,11,10,22,25,25,26,13,27,...,14,22,17,21,14,19,27,23,28,19
x,10,26,12,11,21,17,26,27,11,15,...,24,11,26,16,27,16,22,21,12,12
c,25,24,20,22,19,19,18,24,10,20,...,20,25,21,19,12,10,26,19,28,16
v,27,23,25,14,16,26,23,20,28,12,...,23,23,17,18,28,25,25,22,19,14
b,15,18,24,27,12,27,28,20,25,19,...,14,27,19,15,19,27,24,16,19,12
n,12,16,20,24,21,15,21,17,23,27,...,18,21,25,19,23,15,13,11,22,10
m,17,26,16,22,13,13,10,16,10,13,...,24,10,26,17,21,20,14,27,12,16
w,16,21,19,22,28,21,16,25,10,21,...,16,29,16,15,10,19,21,15,26,16
r,21,18,16,12,25,10,11,20,11,14,...,25,29,29,13,22,29,17,11,12,19
y,26,25,26,28,22,12,16,23,13,25,...,18,19,20,22,25,16,22,12,24,29
f,13,20,20,23,15,22,10,23,25,21,...,27,13,23,11,22,23,12,23,16,23
w,21,20,18,23,23,20,19,15,26,12,...,10,23,11,14,20,13,13,22,27,17
s,28,26,27,12,19,23,25,27,13,19,...,21,24,15,29,17,29,28,18,29,23
f,27,27,22,20,23,16,28,21,26,17,...,20,26,26,18,10,23,27,18,18,21
v,23,12,10,13,28,23,13,20,18,19,...,11,11,14,17,19,14,17,26,22,22

In [18]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
q,23,27,15,17,17,13,26,19,28,24,...,17,23,22,11,27,11,15,12,27,19
w,13,20,17,26,25,13,20,29,22,20,...,16,27,13,23,21,14,22,17,28,15
e,19,19,12,28,16,21,29,11,17,10,...,25,11,11,15,10,15,24,29,13,15
r,18,13,22,26,19,12,25,23,10,23,...,14,22,13,13,29,20,22,21,24,26
t,16,20,13,22,11,10,19,16,23,18,...,29,11,25,11,22,24,12,19,28,28

In [19]:
df.head(6)

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
q,23,27,15,17,17,13,26,19,28,24,...,17,23,22,11,27,11,15,12,27,19
w,13,20,17,26,25,13,20,29,22,20,...,16,27,13,23,21,14,22,17,28,15
e,19,19,12,28,16,21,29,11,17,10,...,25,11,11,15,10,15,24,29,13,15
r,18,13,22,26,19,12,25,23,10,23,...,14,22,13,13,29,20,22,21,24,26
t,16,20,13,22,11,10,19,16,23,18,...,29,11,25,11,22,24,12,19,28,28
y,10,22,26,14,24,23,13,12,10,29,...,12,20,11,12,27,14,23,11,29,12

In [20]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
f,13,20,20,23,15,22,10,23,25,21,...,27,13,23,11,22,23,12,23,16,23
w,21,20,18,23,23,20,19,15,26,12,...,10,23,11,14,20,13,13,22,27,17
s,28,26,27,12,19,23,25,27,13,19,...,21,24,15,29,17,29,28,18,29,23
f,27,27,22,20,23,16,28,21,26,17,...,20,26,26,18,10,23,27,18,18,21
v,23,12,10,13,28,23,13,20,18,19,...,11,11,14,17,19,14,17,26,22,22

In [21]:
df[1]

q    27
w    20
e    19
r    13
t    20
y    22
u    23
i    13
o    10
p    23
l    11
k    23
j    12
h    12
g    15
f    13
d    10
s    27
a    16
z    17
x    26
c    24
v    23
b    18
n    16
m    26
w    21
r    18
y    25
f    20
w    20
s    26
f    27
v    12
Name: 1, dtype: int32

In [22]:
df[[1,2]]

    1   2
q  27  15
w  20  17
e  19  12
r  13  22
t  20  13
y  22  26
u  23  11
i  13  20
o  10  23
p  23  28
l  11  24
k  23  19
j  12  11
h  12  11
g  15  12
f  13  18
d  10  24
s  27  28
a  16  12
z  17  11
x  26  12
c  24  20
v  23  25
b  18  24
n  16  20
m  26  16
w  21  19
r  18  16
y  25  26
f  20  20
w  20  18
s  26  27
f  27  22
v  12  10

In [23]:
df[0:3]

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
q,23,27,15,17,17,13,26,19,28,24,...,17,23,22,11,27,11,15,12,27,19
w,13,20,17,26,25,13,20,29,22,20,...,16,27,13,23,21,14,22,17,28,15
e,19,19,12,28,16,21,29,11,17,10,...,25,11,11,15,10,15,24,29,13,15

In [24]:
df.loc[:,[0,1,3]]

    0   1   3
q  23  27  17
w  13  20  26
e  19  19  28
r  18  13  26
t  16  20  22
y  10  22  14
u  25  23  26
i  25  13  29
o  11  10  14
p  13  23  25
l  21  11  28
k  21  23  22
j  14  12  18
h  22  12  24
g  27  15  20
f  14  13  16
d  12  10  18
s  22  27  23
a  13  16  11
z  16  17  10
x  10  26  11
c  25  24  22
v  27  23  14
b  15  18  27
n  12  16  24
m  17  26  22
w  16  21  22
r  21  18  12
y  26  25  28
f  13  20  23
w  21  20  23
s  28  26  12
f  27  27  20
v  23  12  13

In [25]:
df.loc[:,2:6]

    2   3   4   5   6
q  15  17  17  13  26
w  17  26  25  13  20
e  12  28  16  21  29
r  22  26  19  12  25
t  13  22  11  10  19
y  26  14  24  23  13
u  11  26  13  23  11
i  20  29  17  18  13
o  23  14  22  10  17
p  28  25  22  23  26
l  24  28  18  27  24
k  19  22  10  22  25
j  11  18  25  25  27
h  11  24  20  11  25
g  12  20  16  29  16
f  18  16  17  10  13
d  24  18  22  21  24
s  28  23  25  11  12
a  12  11  11  16  28
z  11  10  22  25  25
x  12  11  21  17  26
c  20  22  19  19  18
v  25  14  16  26  23
b  24  27  12  27  28
n  20  24  21  15  21
m  16  22  13  13  10
w  19  22  28  21  16
r  16  12  25  10  11
y  26  28  22  12  16
f  20  23  15  22  10
w  18  23  23  20  19
s  27  12  19  23  25
f  22  20  23  16  28
v  10  13  28  23  13

In [30]:
df.drop([1,2],axis=1)

,0,3,4,5,6,7,8,9,10,11,...,33,34,35,36,37,38,39,40,41,42
q,23,17,17,13,26,19,28,24,11,29,...,17,23,22,11,27,11,15,12,27,19
w,13,26,25,13,20,29,22,20,15,28,...,16,27,13,23,21,14,22,17,28,15
e,19,28,16,21,29,11,17,10,25,15,...,25,11,11,15,10,15,24,29,13,15
r,18,26,19,12,25,23,10,23,25,12,...,14,22,13,13,29,20,22,21,24,26
t,16,22,11,10,19,16,23,18,27,24,...,29,11,25,11,22,24,12,19,28,28
y,10,14,24,23,13,12,10,29,26,25,...,12,20,11,12,27,14,23,11,29,12
u,25,26,13,23,11,14,28,17,26,25,...,10,17,14,14,20,12,24,23,13,26
i,25,29,17,18,13,22,13,21,26,24,...,15,25,14,21,17,26,14,14,24,22
o,11,14,22,10,17,16,24,16,19,27,...,27,12,17,15,22,13,15,29,15,21
p,13,25,22,23,26,26,20,22,22,25,...,16,16,28,19,19,28,22,17,14,13
l,21,28,18,27,24,10,28,12,20,27,...,19,16,11,15,25,14,19,19,17,26
k,21,22,10,22,25,12,13,17,17,18,...,14,26,21,11,29,24,10,15,28,15
j,14,18,25,25,27,24,26,21,19,10,...,14,19,10,20,10,19,14,18,12,24
h,22,24,20,11,25,22,15,17,27,28,...,17,25,17,12,16,21,19,29,29,22
g,27,20,16,29,16,23,26,27,10,19,...,22,17,21,18,10,28,21,10,16,25
f,14,16,17,10,13,15,27,21,12,23,...,15,13,22,18,23,27,17,11,22,14
d,12,18,22,21,24,13,25,14,16,23,...,28,17,25,26,12,11,29,28,15,21
s,22,23,25,11,12,26,28,28,18,18,...,14,27,13,20,18,20,23,10,24,12
a,13,11,11,16,28,15,10,25,29,23,...,12,22,28,17,29,16,17,11,13,28
z,16,10,22,25,25,26,13,27,12,15,...,14,22,17,21,14,19,27,23,28,19
x,10,11,21,17,26,27,11,15,17,19,...,24,11,26,16,27,16,22,21,12,12
c,25,22,19,19,18,24,10,20,12,26,...,20,25,21,19,12,10,26,19,28,16
v,27,14,16,26,23,20,28,12,29,26,...,23,23,17,18,28,25,25,22,19,14
b,15,27,12,27,28,20,25,19,16,18,...,14,27,19,15,19,27,24,16,19,12
n,12,24,21,15,21,17,23,27,26,14,...,18,21,25,19,23,15,13,11,22,10
m,17,22,13,13,10,16,10,13,13,29,...,24,10,26,17,21,20,14,27,12,16
w,16,22,28,21,16,25,10,21,25,18,...,16,29,16,15,10,19,21,15,26,16
r,21,12,25,10,11,20,11,14,22,14,...,25,29,29,13,22,29,17,11,12,19
y,26,28,22,12,16,23,13,25,26,19,...,18,19,20,22,25,16,22,12,24,29
f,13,23,15,22,10,23,25,21,28,21,...,27,13,23,11,22,23,12,23,16,23
w,21,23,23,20,19,15,26,12,10,21,...,10,23,11,14,20,13,13,22,27,17
s,28,12,19,23,25,27,13,19,20,25,...,21,24,15,29,17,29,28,18,29,23
f,27,20,23,16,28,21,26,17,10,26,...,20,26,26,18,10,23,27,18,18,21
v,23,13,28,23,13,20,18,19,19,25,...,11,11,14,17,19,14,17,26,22,22

In [31]:
df.drop(['t','i'])

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
q,23,27,15,17,17,13,26,19,28,24,...,17,23,22,11,27,11,15,12,27,19
w,13,20,17,26,25,13,20,29,22,20,...,16,27,13,23,21,14,22,17,28,15
e,19,19,12,28,16,21,29,11,17,10,...,25,11,11,15,10,15,24,29,13,15
r,18,13,22,26,19,12,25,23,10,23,...,14,22,13,13,29,20,22,21,24,26
y,10,22,26,14,24,23,13,12,10,29,...,12,20,11,12,27,14,23,11,29,12
u,25,23,11,26,13,23,11,14,28,17,...,10,17,14,14,20,12,24,23,13,26
o,11,10,23,14,22,10,17,16,24,16,...,27,12,17,15,22,13,15,29,15,21
p,13,23,28,25,22,23,26,26,20,22,...,16,16,28,19,19,28,22,17,14,13
l,21,11,24,28,18,27,24,10,28,12,...,19,16,11,15,25,14,19,19,17,26
k,21,23,19,22,10,22,25,12,13,17,...,14,26,21,11,29,24,10,15,28,15
j,14,12,11,18,25,25,27,24,26,21,...,14,19,10,20,10,19,14,18,12,24
h,22,12,11,24,20,11,25,22,15,17,...,17,25,17,12,16,21,19,29,29,22
g,27,15,12,20,16,29,16,23,26,27,...,22,17,21,18,10,28,21,10,16,25
f,14,13,18,16,17,10,13,15,27,21,...,15,13,22,18,23,27,17,11,22,14
d,12,10,24,18,22,21,24,13,25,14,...,28,17,25,26,12,11,29,28,15,21
s,22,27,28,23,25,11,12,26,28,28,...,14,27,13,20,18,20,23,10,24,12
a,13,16,12,11,11,16,28,15,10,25,...,12,22,28,17,29,16,17,11,13,28
z,16,17,11,10,22,25,25,26,13,27,...,14,22,17,21,14,19,27,23,28,19
x,10,26,12,11,21,17,26,27,11,15,...,24,11,26,16,27,16,22,21,12,12
c,25,24,20,22,19,19,18,24,10,20,...,20,25,21,19,12,10,26,19,28,16
v,27,23,25,14,16,26,23,20,28,12,...,23,23,17,18,28,25,25,22,19,14
b,15,18,24,27,12,27,28,20,25,19,...,14,27,19,15,19,27,24,16,19,12
n,12,16,20,24,21,15,21,17,23,27,...,18,21,25,19,23,15,13,11,22,10
m,17,26,16,22,13,13,10,16,10,13,...,24,10,26,17,21,20,14,27,12,16
w,16,21,19,22,28,21,16,25,10,21,...,16,29,16,15,10,19,21,15,26,16
r,21,18,16,12,25,10,11,20,11,14,...,25,29,29,13,22,29,17,11,12,19
y,26,25,26,28,22,12,16,23,13,25,...,18,19,20,22,25,16,22,12,24,29
f,13,20,20,23,15,22,10,23,25,21,...,27,13,23,11,22,23,12,23,16,23
w,21,20,18,23,23,20,19,15,26,12,...,10,23,11,14,20,13,13,22,27,17
s,28,26,27,12,19,23,25,27,13,19,...,21,24,15,29,17,29,28,18,29,23
f,27,27,22,20,23,16,28,21,26,17,...,20,26,26,18,10,23,27,18,18,21
v,23,12,10,13,28,23,13,20,18,19,...,11,11,14,17,19,14,17,26,22,22

In [35]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                              ['speed', 'weight', 'length']],
                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                            [0, 1, 2, 0, 1, 2, 0, 1, 2]])

TypeError: Must pass both levels and labels

In [37]:
df1 = pd.DataFrame({'name': ['John', 'Smith','Paul'],
                     'Age': ['25', '30', '50']},
                    index=[0, 1, 2])
df2 = pd.DataFrame({'name': ['Adam', 'Smith' ],
                     'Age': ['26', '11']},
                    index=[3, 4])

In [38]:
df1

  Age   name
0  25   John
1  30  Smith
2  50   Paul

In [39]:
df2

  Age   name
3  26   Adam
4  11  Smith

In [41]:
df_cat = pd.concat([df1,df2])

In [42]:
df_cat

  Age   name
0  25   John
1  30  Smith
2  50   Paul
3  26   Adam
4  11  Smith

In [45]:
df_cat.drop_duplicates('name')

  Age   name
0  25   John
1  30  Smith
2  50   Paul
3  26   Adam

In [60]:
df_cat['Age'][1] = np.nan

In [61]:
df_cat['Age'][1]

nan

In [62]:
df_cat

   Age   name
0   25   John
1  NaN  Smith
2   50   Paul
3   26   Adam
4   11  Smith

In [67]:
df_cat.dropna()

  Age   name
0  25   John
2  50   Paul
3  26   Adam
4  11  Smith

In [69]:
df_cat.sort_values('Age')

   Age   name
4   11  Smith
0   25   John
3   26   Adam
2   50   Paul
1  NaN  Smith

In [70]:
df_cat.rename(columns ={'Age':'ppl_age','name':'Name'})

  ppl_age   Name
0      25   John
1     NaN  Smith
2      50   Paul
3      26   Adam
4      11  Smith

   Age   name
0   25   John
1  NaN  Smith
2   50   Paul
3   26   Adam
4   11  Smith